body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqiDyIcJcE0R4CGDv9L2lV7m0ycEgnEDhEHXO-1ln8ww&s=10);
    font-family: Arial;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

form {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

input,
select,
textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

textarea{
padding: 50px;
    
}

input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

.periodo {
    display: inline;
}

textarea {
    height: 30px;
    resize: vertical;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin: 40px auto;
    max-width: 1000px;
}

.caixa-info {
    width: 2500px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.caixa-info h2 {
    margin-top: 0;
}

.container section {
    width: 400px;
}

input,
select,
textarea {
    width: 100%;
}